.as-welcome-view .swiper-pagination {
	padding-bottom: 170px;
}

.as-welcome-view .buttons-field {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	padding: 8px 16px;
}

.as-welcome-view .swiper-slide{
	background-size: cover;
}
